html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html,body
{
    overflow-x: hidden; 
}


.App {
  text-align: right;
}

.graph-container {
  height: auto;
  width:inherit;
}

/*.Graph {
  background-color: #282c34;
  width: inherit;
  height: inherit;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

@media screen and (max-width: 2000px){
  #bgimg {
    width: 100vw;
    height: 100vh;
  }

  .App {
    width:100vw;
    height:100vh;
  }
  .term-content{
    font-size:24px !important;
  }
  .Graph{
    margin-bottom: 10vh;
  }

}

.ScrollStep {
  height: 100vh;
}

p .term-header{
  font-family: 'Roboto';
  margin-top: 0 !important;
  margin-bottom: 15px;
  padding:0 !important;
  font-size:44px !important;
  color:black !important;
  font-weight: 300 !important;
}



p .term-content{
  font-family: 'Roboto';
  font-size:32px;
  margin-top: 0 !important;
  padding:0 !important;
  text-align: left !important;
  font-weight: 300
}


h5 {
  font-family: 'Roboto';
  font-size:72px !important;
  color:#8A8A8F;
  margin-block-start: 0;
  font-weight: 300 !important;
}

.sectionTitle {
    text-align: left;
    font-size: 54px !important;
    padding: 39vh 28vw 0% 28vw;
}

.sectionText {
    font-family: 'Roboto';
    text-align: left;
    font-size: 24px;
    width:50%;
    padding-left:28vw;
    padding-right: 40vw;
    padding-top: 5vh;
    font-weight: 300;
  }

  .bibliographyText {
    padding-left:31vw;
  }

  .term-subheading {
    font-weight: 500 !important;
  }

img {
  width: 65%;
  margin: auto;
}

#price-content {
  font-size: 17px;
}
.li {
  margin:5px;
}

