
.App {
  text-align: right;
}

.graph-container {
  height: auto;
  width:inherit;
}

/*.Graph {
  background-color: #282c34;
  width: inherit;
  height: inherit;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

@media screen and (max-width: 2000px){
  #bgimg {
    width: 100vw;
    height: 100vh;
  }

  .App {
    width:100vw;
    height:100vh;
  }
  .term-content{
    font-size:24px !important;
  }
  .Graph{
    margin-bottom: 10vh;
  }

}


.ScrollStep {
  height: 100vh;
}

p .term-header{
  font-family: 'Roboto';
  margin-top: 0 !important;
  padding:0 !important;
  font-size:44px !important;
  color:#8A8A8F !important;
}



p .term-content{
  font-family: 'Roboto';
  font-size:32px;
  margin-top: 0 !important;
  padding:0 !important;
  color:#000000;
  text-align: left !important;
}

h5 {
  font-family: 'Roboto';
  font-size:72px !important;
  color:#8A8A8F;
  margin-block-start: 0;
}


