
.App {
  text-align: center;
}


/*.Graph {
  background-color: #282c34;
  width: inherit;
  height: inherit;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.ScrollStep {
  height: 100vh;
}

p .term-header{
  font-family: 'Roboto';
  margin-top: 0 !important;
  padding:0 !important;
  font-size:44px !important;
  color:#8A8A8F !important;
}

p .term-content{
  font-family: 'Roboto';
  margin-top: 0 !important;
  padding:0 !important;
  font-size:32px !important;
  color:#000000 !important;
}


p {
  font-family: 'Roboto';
  font-size:32px;
  color:#000000;
}

h5 {
  font-family: 'Roboto';
  font-size:72px !important;
  color:#8A8A8F;
}


